<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">tinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <% if (username) { %>

    <form method="POST" action="/logout" name="username" class="form-inline align-middle">
      <p style="margin: 0" class="navbar-text">Logged in as <strong> <%= username  %></strong></p>
      <button type="submit" class="mx-3 btn btn-outline-light btn-sm">LOG OUT</button>
    </form>

    <% } else if (email) {%>

    <form method="POST" action="/logout" name="email" class="form-inline align-middle">
      <p style="margin: 0" class="navbar-text">Logged in as <strong> <%= email  %></strong></p>
      <button type="submit" class="mx-3 btn btn-outline-light btn-sm">LOG OUT</button>
    </form>

    <% } else { %>

    <% if (!loginPage) {%>

    <form method="GET" action="/login" name="login" class="form-inline">
      <button type="submit" class="mx-2 btn btn-primary btn-sm">LOG IN</button>
    </form>

    <%} else if (loginPage) {%>

    <form method="GET" action="/register" name="registration" class="form-inline">
      <button type="submit" class="mx-2 btn btn-outline-light btn-sm">REGISTER</button>
    </form>
    <% } %>
    <% } %>


  </nav>
</header>