<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>tinyApp : Login</title>
</head>

<body>
  <%- include("./partials/_header-reg.ejs") %>

  <div style="padding-top: 50px; margin-left: 80px" class="container">

    <table>
      <th>
        <h5 class="m-2">Login</h5>

        <% if (!validationCheck) { %>

        <h6 class="m-2" style="color: red"><strong>403 ERROR -> </strong>The username/email or password are invalid.</h6>
      </th>
      <tbody>
        <tr>
          <td class="align-middle" width=200px>
            <form method="POST" action="/login" name="login" class="form-inline">
              <input id="loginInfo" class="form-control form-control-sm m-2" type="loginInfo" name="loginInfo" placeholder="username or email" style="width: 200px">
              <input id="password" class="form-control form-control-sm m-2" type="password" name="password" placeholder="password" style="width: 200px"><button type="submit" class="m-2 btn btn-primary btn-sm">LOG IN</button>
            </form>
            </th>
            <% } else { %>
      <tbody>
        <tr>
          <td class="align-middle" width=200px>
            <form method="POST" action="/login" name="login" class="form-inline">
              <input id="loginInfo" class="form-control form-control-sm m-2" type="loginInfo" name="loginInfo" placeholder="username or email" style="width: 200px">
              <input id="password" class="form-control form-control-sm m-2" type="password" name="password" placeholder="password" style="width: 200px"><button type="submit" class="m-2 btn btn-primary btn-sm">LOG IN</button>
            </form>
          </td>
          <% } %>
        </tr>
      </tbody>

    </table>

  </div>

  <!-- Bootstrap JS -->
  <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>