<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>tinyApp : Register</title>
</head>

<body>
  <%- include("./partials/_header-reg.ejs") %>

  <div style="padding-top: 50px; margin-left: 80px" class="container">

    <table>
      <th>
        <h5 class="m-2">Registration Form</h5>

        <% if (!newUserCheck) { %>

        <h6 class="m-2" style="color: red"><strong>400 ERROR -> </strong>That username or email already exists.</h6>
      </th>
      <tbody>
        <tr>
          <td class="align-middle" width=200px>
            <form method="POST" action="/register" name="register" class="form-inline">
              <input id="username" class="form-control form-control-sm m-2" type="username" name="username" placeholder="username (optional)" style="width: 200px">
              <input id="email" class="form-control form-control-sm m-2" type="email" name="email" placeholder="your@email.com" style="width: 200px">
              <input id="password" class="form-control form-control-sm m-2" type="password" name="password" placeholder="password" style="width: 200px"><button type="submit" class="m-2 btn btn-primary btn-sm">REGISTER</button>
            </form>
          </td>
        </tr>
      </tbody>
      <% } else if (!validationCheck) { %>
      <h6 class="m-2" style="color: red"><strong>400 ERROR -> </strong>Please enter a valid email or password.</h6>
      </th>
      <tbody>
        <tr>
          <td class="align-middle" width=200px>
            <form method="POST" action="/register" name="register" class="form-inline">
              <input id="username" class="form-control form-control-sm m-2" type="username" name="username" placeholder="username (optional)" style="width: 200px">
              <input id="email" class="form-control form-control-sm m-2" type="email" name="email" placeholder="your@email.com" style="width: 200px">
              <input id="password" class="form-control form-control-sm m-2" type="password" name="password" placeholder="password" style="width: 200px"><button type="submit" class="m-2 btn btn-primary btn-sm">REGISTER</button>
            </form>
          </td>
        </tr>
      </tbody>
      <% } else { %>

      </th>
      <tbody>
        <tr>
          <td class="align-middle" width=200px>
            <form method="POST" action="/register" name="register" class="form-inline">
              <input id="username" class="form-control form-control-sm m-2" type="username" name="username" placeholder="username (optional)" style="width: 200px">
              <input id="email" class="form-control form-control-sm m-2" type="email" name="email" placeholder="your@email.com" style="width: 200px">
              <input id="password" class="form-control form-control-sm m-2" type="password" name="password" placeholder="password" style="width: 200px"><button type="submit" class="m-2 btn btn-primary btn-sm">REGISTER</button>
            </form>
          </td>
        </tr>
      </tbody>

      <% } %>
    </table>

  </div>

  <!-- Bootstrap JS -->
  <script src=" https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>